<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://www.svgrepo.com/show/794/male-user.svg" intrinsicsize="512 x 512"
           style="width:180px;height:180px"
           alt="User Icon" title="User Icon" id="icon">
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="username">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="password">

        <label for="role">vous êtes ?</label>
        <select  class="form-control " id="role">

          <option value="admin">Administrateur </option>
          <option value="praticien">praticien</option>
          <option selected value="patient">Pacient</option>

        </select>

      <input type="submit" class="fadeIn fourth" value="Log In" (click)="doLogin()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
